*{
    box-sizing: border-box;
}

.header{
    width: 50%;
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}

.blockCurrencies{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    margin-bottom: 20px;
}

.currencyTo{
    color: rgb(53, 181, 53);
}

.textResult{
    font-size: 22px;
    font-weight: bold;
}

.currencyExchange{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(244, 240, 240, 0.755);
    z-index: 2000;
    font-family: 'Montserrat', sans-serif;
}