*{
    box-sizing: border-box;
}

.currencyExchange{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(244, 240, 240, 0.755);
    z-index: 2000;
    font-family: 'Montserrat', sans-serif;
}